<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for("static", filename='css/style.css')}} ">
</head>

<body>
    <header>
        <a href="/"><h1>Mon Gestionnaire d’Animaux</h1></a>
        <nav>
            <a href="{{ url_for('animals_routes.register') }}">Ajouter un Animal</a> |
            <a href="{{ url_for('animals_routes.list') }}">Liste des Animaux</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </main>

    <footer>
        &copy; 2024 Mon Application Flask. Tous droits réservés.
    </footer>

    <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>

</body>
</html>